### Case Study on ANOVA

#### XYZ Company has offices in four different zones. The company wishes to investigate the following :

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [18]:
data = pd.read_csv("Sales_data_zone_wise.csv")

In [19]:
data.head(10)

        Month  Zone - A  Zone - B  Zone - C  Zone - D
0   Month - 1   1483525   1748451   1523308   2267260
1   Month - 2   1238428   1707421   2212113   1994341
2   Month - 3   1860771   2091194   1282374   1241600
3   Month - 4   1871571   1759617   2290580   2252681
4   Month - 5   1244922   1606010   1818334   1326062
5   Month - 6   1534390   1573128   1751825   2292044
6   Month - 7   1820196   1992031   1786826   1688055
7   Month - 8   1625696   1665534   2161754   2363315
8   Month - 9   1652644   1873402   1755290   1422059
9  Month - 10   1852450   1913059   1754314   1608387

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Month     29 non-null     object
 1   Zone - A  29 non-null     int64
 2   Zone - B  29 non-null     int64
 3   Zone - C  29 non-null     int64
 4   Zone - D  29 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.3+ KB

In [21]:
data.columns

Index(['Month', 'Zone - A', 'Zone - B', 'Zone - C', 'Zone - D'], dtype='object')

In [22]:
data.isna().sum()

Month       0
Zone - A    0
Zone - B    0
Zone - C    0
Zone - D    0
dtype: int64

In [23]:
data.shape

(29, 5)

#### Q1 The mean sales generated by each zone.

In [24]:
data_mean = data[["Zone - A", "Zone - B","Zone - C","Zone - D"]].mean()
print("Mean sales generated by each Zone")
data_mean

Mean sales generated by each Zone

Zone - A    1.540493e+06
Zone - B    1.755560e+06
Zone - C    1.772871e+06
Zone - D    1.842927e+06
dtype: float64

#### Q2. Total sales generated by all the zones for each month.

In [25]:
data["Total_Sales"] = data.sum(axis=1)

In [26]:
data.head(10)

        Month  Zone - A  Zone - B  Zone - C  Zone - D  Total_Sales
0   Month - 1   1483525   1748451   1523308   2267260      7022544
1   Month - 2   1238428   1707421   2212113   1994341      7152303
2   Month - 3   1860771   2091194   1282374   1241600      6475939
3   Month - 4   1871571   1759617   2290580   2252681      8174449
4   Month - 5   1244922   1606010   1818334   1326062      5995328
5   Month - 6   1534390   1573128   1751825   2292044      7151387
6   Month - 7   1820196   1992031   1786826   1688055      7287108
7   Month - 8   1625696   1665534   2161754   2363315      7816299
8   Month - 9   1652644   1873402   1755290   1422059      6703395
9  Month - 10   1852450   1913059   1754314   1608387      7128210

#### Q3. Check whether all the zones generate the same amount of sales.

H0 : All the zones generate the same amount of sales.

H1 : All the zones generate different amount of sales.

In [27]:
#numerator degrees of freedom (k-1) = (3-1) = 2
dfn=2
#denominator degrees of freedom(N-k) = (3*29-3)=84 
dfd=84
alpha=.05

In [28]:
f_critical=stats.f.ppf(q=.95,dfn=2,dfd=84)
print('Critical F - value = ',f_critical)

Critical F - value =  3.1051566079400104

In [29]:
f_value,p_value=stats.f_oneway(data['Zone - A'],data['Zone - B'],data['Zone - C'],data['Zone - D'])

In [30]:
print('Calculate F-value = ',f_value)
print('P-value = ',round(p_value,7))

Calculate F-value =  5.672056106843581
P-value =  0.0011828

In [31]:
f_critical>f_value

False

In [32]:
if(p_value <= alpha):
    print("Reject null hypothesis")
else:
    print("Accept null hypothesis")

Reject null hypothesis

Since p_value is less than the alpha value and F value is greater than the critical F value null hypothesis is rejected.
This means that all the zones generate different amount of sales.